@import "../base.scss";

chui-form-switch {
  @include base;

  > div {
    display: flex;
    align-items: center;
    -webkit-user-select: none;
    user-select: none;

    @media (pointer: fine) {
      &:hover > div::after {
        background-color: $hoverColor;
      }
    }

    > div {
      touch-action: none;
      flex-shrink: 0;
      position: relative;
      background-color: $backColor;
      box-shadow: $shadowIn;
      border-radius: $height;
      width: $height * 2;
      height: $height;
      outline: none;
      cursor: grab;

      &.on {
        background-color: $greenColor;

        &::after {
          left: $height;

          .touch & {
            left: $touchHeight;
          }
        }
      }

      .graphics-all & {
        transition: width $sizeTransitionType $sizeTransitionTime,
          height $sizeTransitionType $sizeTransitionTime,
          background-color $colorTransitionType $colorTransitionTime,
          box-shadow $colorTransitionType $colorTransitionTime;
      }

      &.active {
        cursor: grabbing;
      }

      &::after {
        touch-action: none;
        content: "";
        left: 0rem;
        position: absolute;
        background-color: $backColor;
        box-shadow: inset 0 0 0px 2px $borderColor, $shadowOut;
        width: $height;
        height: $height;
        border-radius: $height;

        .touch & {
          width: $touchHeight;
          height: $touchHeight;
        }

        .graphics-all & {
          transition: width $sizeTransitionType $sizeTransitionTime,
            height $sizeTransitionType $sizeTransitionTime,
            left $sizeTransitionType $sizeTransitionTime,
            border-radius $sizeTransitionType $sizeTransitionTime,
            background-color $colorTransitionType $colorTransitionTime,
            box-shadow $colorTransitionType $colorTransitionTime;
        }
      }

      .touch & {
        width: $touchHeight * 2;
        height: $touchHeight;
      }

      &:focus-visible {
        box-shadow: $shadowInFocusOut;
        z-index: 2;
      }
    }

    > svg {
      box-sizing: border-box;
      fill: $textColor;
      height: $height;
      max-width: $height;
      width: auto;
      padding: 0.2rem;
      flex-shrink: 0;

      .touch & {
        height: $touchHeight;
        max-width: $touchHeight;
        padding: 0.4rem;
      }

      .graphics-all & {
        transition: fill $colorTransitionType $colorTransitionTime,
          height $sizeTransitionType $sizeTransitionTime,
          max-width $sizeTransitionType $sizeTransitionTime;
      }
    }

    > span {
      display: block;
      padding: 0.1rem 0.1rem 0.1rem 0.1rem;
      color: $textColor;

      &:empty {
        display: none;
      }

      .graphics-all & {
        transition: color $colorTransitionType $colorTransitionTime;
      }

      .touch & {
        font-size: 1.1rem;
      }
    }
  }
}
