@import "../base.scss";

chocolatelibui-form-switch {
    @include base;

    >div {
        display: flex;
        align-items: center;
        -webkit-user-select: none;
        user-select: none;

        @media(pointer: fine) {
            &:hover>div::after {
                background-color: $hoverColor;
            }
        }

        >div {
            touch-action: none;
            flex-shrink: 0;
            position: relative;
            background-color: $backColor;
            box-shadow: $shadowIn;
            border-radius: $height;
            width: $height * 2;
            height: $height;
            outline: none;
            cursor: grab;

            &.on {
                background-color: $greenColor;

                &::after {
                    left: $height;

                    .touch & {
                        left: $touchHeight;
                    }
                }
            }

            &.active {
                cursor: grabbing;
            }

            &::after {
                touch-action: none;
                content: '';
                left: 0rem;
                position: absolute;
                background-color: $backColor;
                box-shadow: inset 0 0 0px 2px $borderColor, $shadowOut;
                width: $height;
                height: $height;
                border-radius: $height;

                .touch & {
                    width: $touchHeight;
                    height: $touchHeight;
                }

                .anim & {
                    transition: width var(--sizeTransitionType) var(--sizeTransitionTime), height var(--sizeTransitionType) var(--sizeTransitionTime), left var(--sizeTransitionType) var(--sizeTransitionTime), border-radius var(--sizeTransitionType) var(--sizeTransitionTime), background-color var(--colorTransitionType) var(--colorTransitionTime), box-shadow var(--colorTransitionType) var(--colorTransitionTime);
                }
            }

            .touch & {
                width: $touchHeight * 2;
                height: $touchHeight;
            }

            &:focus-visible {
                box-shadow: $shadowInFocusOut;
                z-index: 2;
            }
        }

        >svg {
            box-sizing: border-box;
            fill: $textColor;
            height: $height;
            max-width: $height;
            width: auto;
            padding: 0.2rem;
            flex-shrink: 0;

            .touch & {
                height: $touchHeight;
                max-width: $touchHeight;
                padding: 0.4rem;
            }

            .anim & {
                transition: fill var(--colorTransitionType) var(--colorTransitionTime), height var(--sizeTransitionType) var(--sizeTransitionTime), max-width var(--sizeTransitionType) var(--sizeTransitionTime);
            }
        }

        >span {
            display: block;
            padding: 0.1rem 0.1rem 0.1rem 0.1rem;
            color: $textColor;

            &:empty {
                display: none;
            }

            .anim & {
                transition: color var(--colorTransitionType) var(--colorTransitionTime);
            }

            .touch & {
                font-size: 1.1rem;
            }
        }
    }
}