@import "../numberBase.scss";

@mixin svgStepperButton {
  background-color: $backColor;
  border-radius: $cornerRadius;
  border: $border;
  box-shadow: $shadowOut;
  box-sizing: border-box;
  fill: $textColor;
  position: relative;
  height: $height;
  width: $height;
  top: -$borderThickness;
  padding: 0.14rem;
  flex-shrink: 0;
  pointer-events: all;
  cursor: auto;

  &.active {
    box-shadow: $shadowOutActive;
  }

  .touch & {
    height: $touchHeight;
    width: $touchHeight;
    padding: 0.2rem;
  }

  @media (pointer: fine) {
    &:hover {
      background-color: $hoverColor;
    }
  }
}
