@import "../base.scss";

//Mixins
@mixin number-base {
    div>button {
        position: absolute;
        inset: 0;
        visibility: hidden;
    }
}

@mixin limit-legend {
    color: $textColor;
    font-size: 0.7rem;

    .touch & {
        font-size: 0.9rem;
    }
}