@import "../base.scss";

chocolatelibui-form-text {
    display: block;
    min-height: $height;

    >span {
        color: $textColor;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0.2rem;
        min-width: 5rem;

        .anim & {
            transition: color var(--colorTransitionType) var(--colorTransitionTime);
        }
    }
}

chocolatelibui-form-title {
    display: block;
    min-height: $height;

    >span {
        color: $textColor;
        font-size: 1.6rem;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0.2rem;
        min-width: 5rem;

        .anim & {
            transition: color var(--colorTransitionType) var(--colorTransitionTime);
        }
    }
}