$chuiScrollbarSize: var(--scrollbar);

$chuiColorLayer1: var(--chui-clr-l1);
$chuiColorLayer1Txt: var(--chui-clr-l1txt);
$chuiColorLayer2: var(--chui-clr-l2);
$chuiColorLayer3: var(--chui-clr-l3);
$chuiColorLayer4: var(--chui-clr-l4);
$chuiColorLayer5: var(--chui-clr-l5);
$chuiColorLayer6: var(--chui-clr-l6);
$chuiColorLayer7: var(--chui-clr-l7);
$chuiColorLayer8: var(--chui-clr-l8);
$chuiColorLayer9: var(--chui-clr-l9);
$chuiColorBorder: var(--chui-clr-brd);
$chuiColorFocused: var(--chui-clr-fcs);
$chuiColorScrollbarColor: var(--chui-clr-sbclr);

//
$chuiBorderRadius: 0.5rem;
$chuiBorder: 0px 0px 8px 1px $chuiColorBorder, 0px 0px 1px 1px $chuiColorBorder;

@mixin fontRoboto {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

* {
  &::-webkit-scrollbar {
    width: $chuiScrollbarSize;
    height: $chuiScrollbarSize;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $chuiColorScrollbarColor;
    border-radius: 100vh;
    border: calc($chuiScrollbarSize / 6) solid transparent;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: $chuiColorScrollbarColor;
    border: calc($chuiScrollbarSize / 6) solid transparent;
  }

  &::-webkit-scrollbar-thumb:active {
    background-color: $chuiColorScrollbarColor;
    border: calc($chuiScrollbarSize / 6) solid transparent;
  }

  &::-webkit-scrollbar-corner {
    background: transparent;
  }

  &::-webkit-scrollbar-button:vertical:start:increment,
  &::-webkit-scrollbar-button:vertical:end:decrement,
  &::-webkit-scrollbar-button:horizontal:start:increment,
  &::-webkit-scrollbar-button:horizontal:end:decrement,
  &::-webkit-scrollbar-button:vertical:end:increment,
  &::-webkit-scrollbar-button:vertical:start:decrement,
  &::-webkit-scrollbar-button:horizontal:end:increment,
  &::-webkit-scrollbar-button:horizontal:start:decrement {
    display: none;
  }
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: url("./font/Roboto-Thin.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 100;
  src: url("./font/Roboto-ThinItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("./font/Roboto-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: url("./font/Roboto-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("./font/Roboto-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  src: url("./font/Roboto-BoldItalic.woff2") format("woff2");
}
