@import "../theme/builtIn.scss";

$titleHeight: 1.6rem;
$titleHeightTouch: 3.2rem;
$sizerBorder: 0.6rem;
$sizerBorderTouch: 1.2rem;

chui-window {
  position: absolute;
  display: flex;
  flex-direction: column;
  pointer-events: auto;
  -webkit-user-select: none;
  user-select: none;
  z-index: 1;
  outline: none;
  border-radius: $chuiBorderRadius;
  box-sizing: border-box;
  border: $chuiColorBorder 1px solid;
  min-height: min-content;

  .graphics-some & {
    box-shadow: 0px 0px 4px 0px $chuiColorBorder,
      0px 0px 1px 1px $chuiColorBorder;
    &:focus-within {
      box-shadow: $chuiBorder;
    }
    border: none;
  }

  //    _______ _ _   _      _
  //   |__   __(_) | | |    | |
  //      | |   _| |_| | ___| |__   __ _ _ __
  //      | |  | | __| |/ _ \ '_ \ / _` | '__|
  //      | |  | | |_| |  __/ |_) | (_| | |
  //      |_|  |_|\__|_|\___|_.__/ \__,_|_|
  &[moveable] > div:first-child {
    cursor: grab;
  }
  &[empty] > div:first-child {
    flex-grow: 1;
    border-radius: $chuiBorderRadius;
  }
  > div:first-child {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    position: relative;
    background-color: $chuiColorLayer4;
    overflow: hidden;
    border-radius: $chuiBorderRadius $chuiBorderRadius 0 0;
    &:active {
      cursor: grabbing;
    }
    &[hidden] {
      display: none;
    }
    > div:first-child {
      height: $titleHeight;
      .touch & {
        flex-basis: $titleHeightTouch;
      }
      > * {
        border: 0.2rem solid transparent;
        height: 100%;
        width: auto;
        box-sizing: border-box;
      }
    }
    > div:nth-child(2) {
      flex-grow: 1;
      flex-basis: 1px;
      overflow-wrap: break-word;
      word-break: normal;
      display: flex;
      align-items: center;
      padding: 0.2rem 0.4rem;
      line-height: 0.9rem;
    }
    > div:last-child {
      cursor: auto;
      height: $titleHeight;
      .touch & {
        flex-basis: $titleHeightTouch;
      }
      > * {
        border: 0.2rem solid transparent;
        height: 100%;
        width: auto;
        box-sizing: border-box;
      }
    }
  }
  //     _____            _             _
  //    / ____|          | |           | |
  //   | |     ___  _ __ | |_ ___ _ __ | |_
  //   | |    / _ \| '_ \| __/ _ \ '_ \| __|
  //   | |___| (_) | | | | ||  __/ | | | |_
  //    \_____\___/|_| |_|\__\___|_| |_|\__|
  > div:nth-child(2) {
    flex-grow: 1;
    overflow: auto;
    background-color: $chuiColorLayer1;
    border-radius: 0 0 $chuiBorderRadius $chuiBorderRadius;
    -webkit-user-select: auto;
    user-select: auto;
  }
  div:first-child[hidden] + div:nth-child(2) {
    border-radius: $chuiBorderRadius;
  }
  > div:first-child + div:nth-child(2):empty {
    display: none;
  }
  //     _____ _
  //    / ____(_)
  //   | (___  _ _______ _ __
  //    \___ \| |_  / _ \ '__|
  //    ____) | |/ /  __/ |
  //   |_____/|_/___\___|_|
  > div:last-child {
    position: absolute;
    inset: -$sizerBorder;
    z-index: -1;
    outline: none;

    &.visible {
      background-color: $chuiColorLayer6;
      border-radius: $chuiBorderRadius * 1.2;
      > .top::after,
      > .bottom::after {
        content: "";
        display: block;
        background-color: $chuiColorLayer1Txt;
        width: 2rem;
        height: 0.2rem;
        border-radius: 0.2rem;
      }
      > .left::after,
      > .right::after {
        content: "";
        display: block;
        background-color: $chuiColorLayer1Txt;
        height: 2rem;
        width: 0.2rem;
        border-radius: 0.2rem;
      }
    }

    > * {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    > .top,
    > .bottom {
      height: $sizerBorder;
      .touch & {
        height: $sizerBorderTouch;
      }
    }
    > .right,
    > .left {
      width: $sizerBorder;
      .touch & {
        width: $sizerBorderTouch;
      }
    }
    > .top {
      bottom: unset;
      cursor: n-resize;
    }
    > .bottom {
      top: unset;
      cursor: s-resize;
    }
    > .right {
      left: unset;
      cursor: e-resize;
    }
    > .left {
      right: unset;
      cursor: w-resize;
    }
    > .top-left,
    > .top-right,
    > .bottom-left,
    > .bottom-right {
      width: $sizerBorder * 2;
      height: $sizerBorder * 2;
      .touch & {
        width: $sizerBorderTouch * 2;
        height: $sizerBorderTouch * 2;
      }
    }
    > .top-left {
      bottom: unset;
      right: unset;
      cursor: nw-resize;
    }
    > .top-right {
      bottom: unset;
      left: unset;
      cursor: ne-resize;
    }
    > .bottom-left {
      top: unset;
      right: unset;
      cursor: sw-resize;
    }
    > .bottom-right {
      top: unset;
      left: unset;
      cursor: se-resize;
    }
  }
}

chui-windowcontainer {
  pointer-events: none;
  position: fixed;
  inset: 0;
}
