chui-window {
  position: absolute;
  display: flex;
  flex-direction: column;
  pointer-events: auto;
  > div:first-child {
    position: relative;
    background-color: red;
    flex-basis: 2rem;
    overflow: hidden;
    border-radius: 0.8rem 0.8rem 0 0;
    > :visib + div {
      background-color: yellow;
    }
  }
  > div:nth-child(2) {
    flex-grow: 1;
    overflow: hidden;
    background-color: green;
    border-radius: 0 0 0.8rem 0.8rem;
  }
  > div:last-child {
    position: absolute;
    inset: -10px;
    z-index: -1;
    background-color: blue;
  }
}

chui-windowcontainer {
  pointer-events: none;
  position: fixed;
  inset: 0;
}
