@import "../base.scss";

chui-form-progress {
  @include base;
  @include number-base;

  > div {
    border-radius: $cornerRadius;
    background-color: $backColor;
    position: relative;
    -webkit-user-select: none;
    user-select: none;
    height: $height;
    display: flex;
    align-items: center;

    .touch & {
      height: $touchHeight;
    }

    .graphics-some & {
      transition: height $sizeTransitionType $sizeTransitionTime,
        background-color $colorTransitionType $colorTransitionTime;
    }

    > div {
      position: absolute;
      border-radius: $cornerRadius;
      height: 100%;
      left: 0px;
      top: 0px;
      width: 0%;
      background-color: $greenColor;
      z-index: 1;
      .graphics-some & {
        transition: width 0.1s linear;
      }
    }

    > span {
      padding-left: 0.3rem;
      height: min-content;
      position: relative;
      z-index: 1;
      color: $textColor;

      &:nth-child(2) {
        @include valueFont;
        min-width: 3rem;
        text-align: end;
        padding-left: 0.5rem;
      }

      &:last-child {
        @include unitContainer;
      }
    }

    &::after {
      content: "";
      inset: 0;
      position: absolute;
      border-radius: $cornerRadius;
      border: $border;
      box-shadow: $shadowIn;
      z-index: 1;
    }
  }
}
